<?xml version="1.0"?>

<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="TestDataDirectory" value="C:\Users\LB70992\Documents\GitHub\AsyncDemo\src\Services\testdata" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ImageServiceBehavior">
          <serviceMetadata httpGetEnabled="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Services.ImageService"
               behaviorConfiguration="ImageServiceBehavior">
        <endpoint address="http://localhost:54355/ImageService.svc" binding="basicHttpBinding"
                  contract="Contracts.IImageService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>

</configuration>